/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-image: url('fotoU.jpeg'); /* URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.3s;
  }
  
  .container {
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007f7b; /* Verde oscuro para el título */
  }
  
  /* Estilos para el formulario */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333; /* Texto principal en tono oscuro */
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007f7b; /* Verde oscuro para el botón */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:hover {
    background-color: #005f5a; /* Verde más oscuro al pasar el cursor */
    transform: translateY(-3px); /* Mover ligeramente hacia arriba */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
    display: none;
  }
  